.img-thumbnail {
    margin:25px;
    width:85%;
    height: 85%;
}
.card-body {
    padding: 0 25px;
}
.card-footer {
    padding: 10px 15px;
    background-color: #fff;
    border-top: none;
     
}.wrapper {
    display: inline-block;
    height: 150px;
    width: 250px;
    padding: 5px;
    margin: 5px;
    background: lightgray;
  }
  
