<form [formGroup]="registerForm" (ngSubmit)="register()" class="w-100">
  <h2 class="text-center text-primary">Sign Up</h2>
  <hr>
  <div class="form-group">
    
    <label class="control-label" style="margin-right:10px">I am a: </label>
     
    <label class="radio-inline">
    
    <input class="mr-3" type="radio" value="male" formControlName="gender">Male
    
    </label>
    
    <label class="radio-inline ml-3">
     
    <input class="mr-3" type="radio" value="female" formControlName="gender">Female
    
    </label>
      
    </div>
  <div class="form-group">
    <input type="text" class="form-control" [ngClass]="{'is-invalid': registerForm.get('username').errors && registerForm.get('username').touched}" formControlName="username" placeholder="Username">
    <div class="invalid-feedback">Please choose a username</div>
  </div>
  <div class="form-group">
    <input type="text" class="form-control d-inline-block w-75" [ngClass]="{'is-invalid': registerForm.get('email').errors && registerForm.get('email').touched}" formControlName="email" placeholder="Email">
    <div class="invalid-feedback float-left" *ngIf="registerForm.get('email').touched && registerForm.get('email').hasError('required')">Email is required</div>
    <div class="invalid-feedback float-left" *ngIf="registerForm.get('email').errors?.pattern && registerForm.get('email').touched">Email type is not correct</div>
    <button class="btn btn-info w-25" type="button" [disabled]="registerForm.get('email').hasError('required') || registerForm.get('email').errors?.pattern" (click)="SendCode()">Get Code</button>
  </div>
  <div class="form-group">
    <input [ngClass]="{'is-invalid': registerForm.get('emailCode').errors && registerForm.get('emailCode').touched}" class="form-control"
     placeholder="Email Code" formControlName="emailCode">
    <div class="invalid-feedback" *ngIf="registerForm.get('emailCode').touched && registerForm.get('emailCode').hasError('required')">Email code as is required</div>
  </div>
  <div class="form-group">
    <input type="text" class="form-control d-inline-block w-75" [ngClass]="{'is-invalid': registerForm.get('phoneNumber').errors && registerForm.get('phoneNumber').touched}" formControlName="phoneNumber" placeholder="Phone Number">
    <div class="invalid-feedback float-left" *ngIf="registerForm.get('phoneNumber').touched && registerForm.get('phoneNumber').hasError('required')">Phone number is required</div>
    <div class="invalid-feedback float-left" *ngIf="registerForm.get('phoneNumber').hasError('minlength')">Password must be at least 10 characters </div>
    <div class="invalid-feedback float-left" *ngIf="registerForm.get('phoneNumber').hasError('maxlength')">Password can not exceed 12 characters </div>
    <button class="btn btn-info w-25" type="button" [disabled]="registerForm.get('phoneNumber').hasError('required') || registerForm.get('phoneNumber').hasError('minlength') || registerForm.get('phoneNumber').hasError('maxlength')" (click)="SendPhoneCode()">Get Code</button>
  </div>
  <div class="form-group">
    <input [ngClass]="{'is-invalid': registerForm.get('phoneNumberCode').errors && registerForm.get('phoneNumberCode').touched}" class="form-control"
     placeholder="Phone Number Code" formControlName="phoneNumberCode">
    <div class="invalid-feedback" *ngIf="registerForm.get('phoneNumberCode').touched && registerForm.get('phoneNumberCode').hasError('required')">Phone Number code as is required</div>
  </div>
  <div class="form-group">
    <input [ngClass]="{'is-invalid': registerForm.get('knownAs').errors && registerForm.get('knownAs').touched}" class="form-control"
     placeholder="Known as" formControlName="knownAs">
    <div class="invalid-feedback" *ngIf="registerForm.get('knownAs').touched && registerForm.get('knownAs').hasError('required')">Known as is required</div>
  </div>
  <div class="form-group">
    <input [ngClass]="{'is-invalid': registerForm.get('dateOfBirth').errors && registerForm.get('dateOfBirth').touched}" class="form-control" placeholder="Date of Birth" formControlName="dateOfBirth" bsDatepicker [bsConfig]="bsConfig" type="text" >
    <div class="invalid-feedback" *ngIf="registerForm.get('dateOfBirth').touched && registerForm.get('dateOfBirth').hasError('required')">Date of Birth is required</div>
  </div>
  <div class="form-group">
    <input [ngClass]="{'is-invalid': registerForm.get('city').errors && registerForm.get('city').touched}" class="form-control"
     placeholder="City" formControlName="city">
    <div class="invalid-feedback" *ngIf="registerForm.get('city').touched && registerForm.get('city').hasError('required')">City is required</div>
  </div>
    <div class="form-group">
      <input [ngClass]="{'is-invalid': registerForm.get('country').errors && registerForm.get('country').touched}" class="form-control"
      placeholder="Country" formControlName="country">
      <div class="invalid-feedback" *ngIf="registerForm.get('country').touched && registerForm.get('country').hasError('required')">Country is required</div>
    </div>
  <div class="form-group">
    <input type="password" class="form-control" [ngClass]="{'is-invalid': registerForm.get('password').errors && registerForm.get('password').touched}" formControlName="password" placeholder="Password">
    <div class="invalid-feedback" *ngIf="registerForm.get('password').hasError('required')">Password is required</div>
    <div class="invalid-feedback" *ngIf="registerForm.get('password').hasError('minlength')">Password must be at least 6 characters </div>
    <div class="invalid-feedback" *ngIf="registerForm.get('password').hasError('maxlength')">Password can not exceed 12 characters </div>
  </div>
  <div class="form-group">
    <input type="password" class="form-control" [ngClass]="{'is-invalid': registerForm.get('confirmPassword').errors && registerForm.get('confirmPassword').touched || registerForm.hasError('mismatch') && registerForm.get('confirmPassword').touched}" formControlName="confirmPassword" placeholder="Confirm Password">
    <div class="invalid-feedback" *ngIf="registerForm.get('confirmPassword').hasError('required')">Password is required</div>
    <div class="invalid-feedback" *ngIf="registerForm.hasError('mismatch')">Passwords are not matching</div>
  </div>
  <div class="form-group text-center">
    <button class="btn btn-success mr-4" type="submit" [disabled]="!registerForm.valid">Register</button>
    <button class="btn btn-danger" type="button" (click)="cancel()">Cancel</button>
  </div>
</form>