<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <div class="container">
    <button class="navbar-toggler" 
     type="button" data-toggle="collapse" (click)="toggleButton()" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" aria-expanded="false" aria-label="Toggle navigation">
      <div class="iconWrapper">
        <svg viewBox="0 0 100 80">
        <rect class="one disableAnimation" width="75" height="10"></rect>
        <rect class="two disableAnimation" y="20" width="75" height="10"></rect>
        <rect class="three disableAnimation" y="40" width="75" height="10"></rect>
      </svg>
      </div>
    </button>
  <a class="navbar-brand" [routerLink]="['/']">Dating App</a>
    <ul *ngIf="loggedIn()" class="navbar-nav mr-auto collapse navbar-collapse" id="navbarSupportedContent">
      <li class="nav-item"  routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/members']">Matches</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/lists']">Lists</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/messages']">Messages</a>
      </li>
      <li *appHasRole="['Admin', 'Moderator']" class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/admin']">Admin</a>
      </li>
    </ul>
    <div dropdown *ngIf="loggedIn()" class="dropdown" id="dropdownMenuButton" data-toggle="dropdown">
      <span class="mr-1">
        <img src="{{photoUrl || '../../assets/16.1 user.png'}}" alt="">
      </span>
      <a dropdownToggle class="dropdown-toggle text-light">
        Welcome {{authService.decodedToken?.unique_name | titlecase}}
      </a>
      <div *dropdownMenu class="dropdown-menu mt-3" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" [routerLink]="['/member/edit']"><i class="fa fa-user"></i> Edit Profile</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" (click)="logout()"><i class="fa fa-sign-out"></i> Logout</a>
      </div>
    </div>
    <form *ngIf="!loggedIn()" #loginForm="ngForm" class="form-inline mt-2 mt-md-0 collapse navbar-collapse" (ngSubmit)= "login()" id="navbarSupportedContent">
      <input class="form-control mr-sm-2" type="text" placeholder="Username" name="username" required [(ngModel)]="model.username">
      <input class="form-control mr-sm-2" type="password" placeholder="Password" name="password" required [(ngModel)]="model.password">
      <button [disabled]="!loginForm.valid" class="btn btn-success form-control my-sm-0" type="submit">Login</button>
    </form>
  </div>
</nav>