.dropdown-toggle, .dropdown-item {
    cursor: pointer;
}
img  {
    max-height: 50px;
    border:2px solid #fff;
    display: inline;
}
@media only screen and (max-width: 575px) {
   input {
       margin-bottom: 1.5rem;
   }
  }
  .dropdown {
      margin: auto;
  }
  .navbar-collapse {
      flex-grow:0;
  }