.lead {
    color: white;
}section {
    position: relative;
    width: 100%;
    height: 94.2vh;
    background: url(../../../assets/bonding-cold-cozy-dog-374845.jpg);
    
    background-size: cover;
    background-attachment: fixed;
}
section .wave {
    position: absolute;
    width: 100%;
    height: 143px;
    bottom: 0;
    left: 0;
    background: url(../../../assets/wave.png);
    animation: animate 10s linear infinite;
}
section .wave:before {
    content: '';
    width: 100%;
    height: 143px;
    background: url(../../../assets/wave.png);
    position:absolute;
    top: 0;
    left: 0;
    opacity: 0.4;
    animation: animate-reverse 10s linear infinite;
}
section .wave:after {
    content: '';
    width: 100%;
    height: 143px;
    background: url(../../../assets/wave.png);
    position:absolute;
    top: 0;
    left: 0;
    opacity: 0.6;
    animation-delay: -5s ;
    animation: animate 20s linear infinite;
}
@keyframes animate {
    0% {
        background-position: 0;
    }
    100% {
        background-position: 1360px;
    }
}
@keyframes animate-reverse {
    0% {
        background-position: 1360px;
    }
    100% {
        background-position: 0;
    }
}